.autocomplete-list {
  max-height: 100px; // Définir la hauteur maximale de la liste
  overflow-y: auto; // Activer le défilement vertical lorsque la liste dépasse la hauteur maximale
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.invalid-feedback {
  color: #dc3545; /* Couleur du texte pour les messages d'erreur */
  font-size: 0.875rem; /* Taille de la police pour les messages d'erreur */
}

.error-message {
  color: #dc3545; /* Couleur du texte pour les messages d'erreur */
  font-size: 0.875rem; /* Taille de la police pour les messages d'erreur */
  margin-top: 0.25rem; /* Marge supérieure pour séparer le message d'erreur du champ */
}
