.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .page-item {
    list-style: none;
    margin: 0 5px;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &.active {
      button {
        background-color: #4267b2;
        color: #fff;
        border-color: #4267b2;
      }
    }

    button {
      background-color: transparent;
      border: 1px solid #ccc;
      color: #4267b2;
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f0f2f5;
      }
    }
  }
  .table-container {
    overflow-x: auto;
    max-width: 100%;
  }

  .invoice-list-table {
    table-layout: fixed;
    word-wrap: break-word;
  }

}
