<div class="row">
  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Société /</span> List
      </h4>



      <!-- Client List Table -->
      <div class="card">
        <div class="table-responsive m-t-16 ">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="row mx-1">
              <div
                class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start gap-3">
                <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start mt-md-0 mt-3">
                  <div class="dt-buttons btn-group flex-wrap">
                    <a class="btn btn-secondary mat-raised-button btn-primary" (click)="openDialog()"  tabindex="0"
                      aria-controls="" type="button">
                      <span><i class="bx bx-plus me-md-1"></i><span class="d-md-inline-block d-none">Ajouter une
                          societe</span></span>
                    </a>
                  </div>
                </div>
              </div>
              <div
                class="col-12 col-md-6 d-flex align-items-center justify-content-end flex-column flex-md-row pe-3 gap-md-3">

                <div
                class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
                <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>
                  <input type="search" class="form-control" placeholder="Rechercher.." aria-controls="DataTables_Table_0" (input)="searchSocietes($event)" >
                </label>

              
              </div>
                <div class="dt-buttons btn-group flex-wrap">
                  <div class="btn-group">
                    <button
                      class="btn buttons-collection dropdown-toggle btn-label-secondary mx-3" tabindex="0"
                      aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog"
                      aria-expanded="false"><span><i class="bx bx-export me-1"></i>Export</span>
                    </button>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
              <div class="row mx-2">
                <div class="col-md-2">
                  <div class="me-3">

                  </div>
                </div>
                <div class="col-md-10">

                </div>
              </div>
            <!-- Dans votre fichier HTML (societe.component.html) -->

            <table class="user-list-table table border-top dataTable no-footer dtr-column" id="DataTables_Table_1"
            aria-describedby="DataTables_Table_0_info" style="width: auto;">
       <thead>
         <tr>
           <th class="sorting" tabindex="0" aria-controls="" rowspan="1" colspan="1"
               aria-label="Nom: activate to sort column ascending">Nom société</th>
           <th class="sorting" tabindex="0" aria-controls="" rowspan="1" colspan="1"
               aria-label="ICE: activate to sort column ascending">ICE</th>
           <th class="sorting" tabindex="0" aria-controls="" rowspan="1" colspan="1"
               aria-label="Adresse: activate to sort column ascending">Adresse</th>
           <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 76px;" aria-label="Actions">
             Actions
           </th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let societe of societes$ | async">
           <td>{{ societe.nom }}</td>
           <td>{{ societe.ice || '-' }}</td>
           <td>{{ societe.adresse || '-' }}</td>
           <td>
             <div class="d-inline-block text-nowrap">
               <button class="btn btn-sm btn-icon" (click)="viewSociete(societe)">
                 <i class="bx bx-show"></i> <!-- Lien pour afficher les détails -->
               </button>
               <button class="btn btn-sm btn-icon" (click)="editSociete(societe)">
                 <i class="bx bx-edit"></i> <!-- Lien pour modifier -->
               </button>
               <button class="btn btn-sm btn-icon delete-record" (click)="deleteSociete(societe.idSociete)">
                 <i class="bx bx-trash"></i> <!-- Lien pour supprimer -->
               </button>
             </div>
           </td>
         </tr>
       </tbody>
     </table>


              <mat-paginator [length]="totalSocietes" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true" (page)="onPageChange($event)">
              </mat-paginator>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
